.container{
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: cadetblue;
    padding: 20px ;
    width: 100%;
}

.card {
text-align: center;

}

h1 {
    text-align: center;
}

.btn {
    background-color: crimson;
    color: floralwhite;
}